################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/API_V2_CONSOLE/FileContentIndex/d05d2543-5bc1-43c0-ad5c-129952cab555.vsidx
